* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("https://i.ibb.co/zQgvw2s/table-backgrnd.jpg");
    height: 100vh;
    background-size: contain;
}

header {
    text-align: center;
    color: white;
    font-size: 10vmin;
    padding: 15px 0px 15px 0px;
    text-shadow: 2px 3px 6px #0f0f0f;
    margin-bottom: 20px;
    font-family: Lusitana;
}

.black-text {
    color: black;
}

.cards {
    width: 15vmin;
    border-radius: 10px;
    padding: 5px;
}

.cards.hidden {
    visibility: hidden;
}

#dealers-row,
#players-row,
#button-row {
    text-align: center;
    padding: 20px;
}

#dealers-message,
#players-message {
    color: #fff;
    font-size: 3vmin;
}

#dealers-cards,
#players-cards {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

section #button-row {
    display: inline-flex;
    justify-content: center;
    margin: 20px;
}

#deal-btn,
#hit-btn,
#stay-btn {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    border-radius: 5px;
    font-size: 3vmin;
    padding: 8px 26px;
    margin: 5px;
    border: none;
    background-color: #000;
}

#deal-btn {
    background-color: green;
}

#deal-btn:hover {
    background-color: #3e8e41
}

#hit-btn:hover,
#stay-btn:hover {
    background-color: #fff;
    color: black;
}

button:active {
    transform: translateY(4px);
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}